<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4313963483-f0sn96vmp6keuvmgmflog9nqoss91hko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4313963483-f0sn96vmp6keuvmgmflog9nqoss91hko</string>
	<key>API_KEY</key>
	<string>AIzaSyCfZpKmZ4ZsGwwBmnziNMDHG_d_EXQPiaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>4313963483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuthVideo</string>
	<key>PROJECT_ID</key>
	<string>video-player-2d29e</string>
	<key>STORAGE_BUCKET</key>
	<string>video-player-2d29e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4313963483:ios:78fa77c0927c7e7a5565fe</string>
</dict>
</plist>